.timeline-container {
  height: max-content;
  margin-top: 5%;
}

.timeline {
  border-left: 5px solid white;
  margin-left: 10%;
}

.role-start {
  height: 50px;
  width: 50px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-left: -2.5%;
}
