.timeline-container {
  height: max-content;
}

.role-card-light {
  color: var(--text-primary-light);
  background-color: var(--bg-secondary-light);
  transition: all 0.7s ease-out;
}

.role-card-dark {
  color: white;
  background-color: var(--dark-primary);
  transition: all 0.7s ease-out;
}

.timeline {
  border-left: 5px solid white;
  margin-left: 10%;
}

.role-start {
  height: 50px;
  width: 50px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-left: -2.5%;
}

.work-responsibility {
  font-size: 1rem;
}

@media only screen and (min-width: 768px) {
  .work-responsibility {
    font-size: 1.25rem;
  }
}
