.projects-content {
  padding: 0 2%;
  overflow: hidden;
  height: 98%;
  display: flexbox;
  position: relative;
}

.project-card-column {
  display: flex;
}

.project-content-front {
  height: 100%;
  overflow-y: auto;
}
.project-content-front::-webkit-scrollbar {
  display: none;
}

.project-content-back {
  height: inherit;
  overflow-y: auto;
}
::-webkit-scrollbar {
  display: none;
}

.project-content-head {
  font-size: 1rem;
}

.project-content-body-front {
  font-size: 1.25rem;
  text-align: justify;
}

.project-content-body-back {
  font-size: 1.25rem;
  justify-content: center;
  text-align: justify;
  overflow-y: auto;
}
.project-content-body-back ::-webkit-scrollbar {
  display: none;
}
.project-content-back-header {
  height: 10%;
}

.project-content-back-footer {
  height: 15%;
}
