.resume-head-name-dark {
  font-size: 8rem;
  color: var(--text-secondary-dark);
}

.resume-head-name-light {
  font-size: 8rem;
  color: var(--text-secondary-light);
}

.resume-img {
  height: auto;
  width: 100%;
}
