.about-content {
  padding: 0 2%;
  overflow: hidden;
  height: 98%;
  display: flexbox;
  position: relative;
}
.about-head-name-dark {
  font-size: 8rem;
  color: var(--text-secondary-dark);
}

.about-head-name-light {
  font-size: 8rem;
  color: var(--text-secondary-light);
}
