.home-content {
  padding: 0 2%;
  overflow: hidden;
  height: 98%;
  display: flexbox;
  position: relative;
}

.home-head {
  height: max-content;
  flex: 0 1 auto;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  width: 100%;
  opacity: 1;
}

.home-head-text {
  font-size: 8rem;
  transition: color 0.5s ease;
}

@media only screen and (max-width: 768px) {
  .home-head-text {
    font-size: 2rem;
  }
}

.home-head-name-dark {
  color: var(--text-secondary-dark);
}

.home-head-name-light {
  color: var(--text-secondary-light);
}

.home-head-role-dark {
  font-size: 6rem;
  color: var(--text-secondary-dark);
}

.home-head-role-light {
  font-size: 6rem;
  color: var(--text-secondary-light);
}

.home-body {
  max-height: -webkit-fill-available;
  overflow-y: scroll;
  height: max-content;
  font-size: 2rem;
  margin-top: 5%;
  color: var(--text-secondary-dark);
}

.home-body::-webkit-scrollbar {
  display: none;
}
.home-foot {
  height: max-content;
  background-color: blueviolet;
}
