.view {
  height: 100vh;
  overflow-y: auto;
}

.content-body {
  width: 90vw;
  margin-top: 5%;
  margin-bottom: 2vh;
}

.side-navbar {
  top: 0;
  left: 0;
  bottom: 0;
  width: 8rem;
  // background: var(--bg-primary);
  color: '#03C988';
  position: sticky;
  margin-top: auto;
  height: 100%;
}

.side-navbar :hover {
  color: #fff;
}

.active {
  color: #fff !important;
}

// primary:#13005a
// accent:#00337C
// primary-light: #1C82AD
// secondary: #03C988
.side-navbar-head {
  background: #13005a;
  color: var(--text-primary);
  // display: inline-block;
  font-size: 40px;
  font-weight: 600;
  height: 80px;
  line-height: 80px;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  width: 80px;
  border-radius: 10%;
}

.side-navbar-body {
  color: #03c988;
  height: 100%;
}

.side-navbar-link {
  color: #03c988;
}
