.view {
  height: 100vh;
  overflow-y: auto;
}

.content-body {
  width: 90vw;
  margin-top: 5%;
}

.side-navbar {
  color: '#03C988';
}

.side-navbar :hover {
  color: #fff;
}

.active {
  color: #fff !important;
}

.side-navbar-head {
  background: #13005a;
  color: var(--text-primary);
  // display: inline-block;
  font-size: 40px;
  font-weight: 600;
  height: 80px;
  line-height: 80px;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  width: 80px;
  border-radius: 10%;
}

.side-navbar-body {
  color: #03c988;
}

.navbar-collapse {
  flex-grow: 0 !important;
}

.side-navbar-link {
  color: #03c988;
}

.vl {
  border-left: 3px solid gray;
  margin-left: 2rem;
  margin-right: 2rem;
}
