.content-body {
  width: 89vw;
}

.side-navbar {
  top: 0;
  left: 0;
  bottom: 0;
  width: 8rem;
  height: 100vh;
  background: #13005a;
  color: '#03C988';
}

.side-navbar :hover {
  color: #fff;
}

.active {
  color: #fff !important;
}

// primary:#13005a
// accent:#00337C
// primary-light: #1C82AD
// secondary: #03C988
.side-navbar-head {
  background: #13005a;
  color: #fff;
  display: inline-block;
  font-size: 40px;
  font-weight: 600;
  height: 80px;
  line-height: 80px;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  width: 80px;
}

.side-navbar-body {
  color: #03c988;
}

.side-navbar-link {
  color: #03c988;
}
