body {
  background-color: #13005a;
  background-image: url('./assets/images/body_background.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}

:root {
  --primary-blue: rgb(0, 0, 255);
  --secondary-blue: rgb(96, 96, 182);

  --text-primary-light: black;
  --text-primary-dark: white;

  --text-secondary-light: rgb(70, 70, 70);
  --text-secondary-dark: rgb(160, 160, 160);

  --bg-primary-light: white;
  --bg-primary-dark: black;

  --bg-secondary-light: rgb(212, 212, 212);
  --bg-secondary-dark: rgb(34, 34, 34);

  --bg-navbar-light: rgb(104, 104, 255);
  --bg-navbar-dark: rgb(29, 29, 58);

  --dark-gray: #ededed;
  --dark-accent: #da0037;
  --dark-secondary: #444444;
  --dark-primary: #171717;

  --light-gray: #354259;
  --light-accent: #cdc2ae;
  --light-secondary: #ece5c7;
  --light-primary: #c2ded1;
}

.light-theme {
  --text-primary: var(--text-primary-light);
  --text-secondary: var(--text-secondary-light);
  --primary: var(--dark-primary);
  --secondary: var(--dark-secondary);
  --bg-navbar: var(--dark-primary);
  --accent: var(--dark-accent);
}

.dark-theme {
  --text-primary: var(--text-primary-dark);
  --text-secondary: var(--text-secondary-dark);
  --primary: var(--light-primary);
  --secondary: var(--light-secondary);
  --bg-navbar: var(--light-primary);
  --accent: var(--light-accent);
}
