@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --work-logo-height: 5rem;
}

.spin {
  animation: spin 3s infinite linear;
  width: auto;
  height: var(--work-logo-height);
  padding: 2%;
}

.work-logo {
  width: auto;
  height: var(--work-logo-height);
  padding: 2%;
}
