.work-content {
  padding: 0 2%;
  overflow: hidden;
  height: 98%;
  display: flexbox;
  position: relative;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin {
  animation: spin 3s infinite linear;
  width: auto;
  height: 10rem;
  padding: 2%;
}

.work-logo {
  width: auto;
  height: 8rem;
  padding: 2%;
}

@media only screen and (max-width: 768px) {
  .spin {
    animation: spin 3s infinite linear;
    width: auto;
    height: 5rem;
    padding: 1%;
  }

  .work-logo {
    width: auto;
    height: 4rem;
    padding: 1%;
  }
}
